@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Urbanist:wght@500&display=swap');


body {
    background-color: #47B265;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Cabin', Verdana, sans-serif;
    background-color: #ffffff;
}
header {
    background-color: #51a9cc;
    display: grid;
    grid-template-columns: 150px auto;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 80px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #592768;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #592768;
    color: #51A9CC;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
}
#hero-img{
    width: 100%;
}
#hero-msg {
    grid-row: 1/2;
    grid-column: 2/3;
}
.home-title {
    font-family: 'Urbanist', Tahoma, sans-serif;
    font-size: 2em;
    margin-top: 10px;
    color: white;
}
#hero-msg h1 {
    text-align: center;
    font-family: 'Urbanist', Tahoma, sans-serif;
}
#hero-msg h4 {
    text-align: center;
    font-family: 'Urbanist', Tahoma, sans-serif;
    color: #51a9cc;       
}
.button-box {
    text-align: center;
}
.book, .join {
    background-color: #47B265;
    color: #592768;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #592768;
    color: #47B265;
}
main {
    display: grid;
    grid-template-columns: repeat(10,1fr);
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.card-img {
    border: 10px solid #51a9cc;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.icon {
    width: 80px;
    padding-top: 10px;
}
h2 {
    margin: 0;
}
h4 {
    color: #592768;
    font-family: 'Urbanist', Tahoma, sans-serif;
}
#background {
    height: 725px;
    background-color: #51A9CC;
    grid-column: 1/11;
    grid-row: 4/9;
}
.mountains{
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg {
    background-color: #51A9CC;
    font-family: 'Urbanist', Tahoma, sans-serif;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2{
    color: #592768;
}
.msg p {
    color: #592768;
    font-size: .8em;
    padding-bottom: 15px;
}
.details-grid {
    display: grid;
    grid-template-columns: auto;
    background-color: white;
}
.details-top {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: auto;
}
.details-top img {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
}
.details-top-text {
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 2;
    text-align: center;
}
.details-top-text p {
    color: white;
    font-size: 27px;
}
.river-title, .river-details {
    text-align: center;
}
.river-title {
    margin-top: 10px;
    color: white;
}
.river-info {
    font-size: 18px;
}
.river-details, .river-info {
    background-color: #51A9CC;
    margin: 10px;
    box-shadow: 3px 3px 6px #6f7364;
}
.river-details p, .river-info p {
    margin: 5px;
    color: #592768;
}
.river-image {
    width: 100%;
}
.main-fork {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: auto auto;
    margin: 10px;
    background-color: #51A9CC;
}
.main-fork .river-image {
    grid-column: 2/3;
    grid-row: 1/3;
}
.main-fork .river-title {
    grid-column: 2/3;
    grid-row: 1/2;
}
.main-0fork .river-info {
    grid-column: 1/2;
    grid-row: 1/2;
}
.main-fork .river-details {
    grid-column: 1/2;
    grid-row: 2/3;
}
.desolation {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: auto auto;
    margin: 10px;
    background-color: #51A9CC;
}
.desolation .river-image {
    grid-column: 1/2;
    grid-row: 1/3;
}
.desolation .river-title {
    grid-column: 1/2;
    grid-row: 1/2;
}
.desolation .river-info {
    grid-column: 2/3;
    grid-row: 1/2;
}
.desolation .river-details {
    grid-column: 2/3;
    grid-row: 2/3;
}
.grand-canyon {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    margin: 10px;
    background-color: #51A9CC;
}
.grand-canyon .river-image {
    grid-column: 1/3;
    grid-row: 1/3;
    width: 100%;
}
.grand-canyon .river-title {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-bottom: 10%;
}
.grand-canyon .river-info {
    grid-column: 1/2;
    grid-row: 3/5;
    font-size: 22px;
}
.grand-canyon .river-details-2 {
    text-align: center;
    background-color: #51A9CC;
    margin: 10px;
    box-shadow: 3px 3px 6px #6f7364;
    grid-column: 2/3;
    grid-row: 4/5;
}
.river-details-2 p {
    margin: 5px;
    color: #592768;
}
.details-bottom {
    display: grid;
    grid-template-columns: 1fr 2fr 5fr;
    grid-template-rows: auto auto auto;
    grid-row: auto;
    background-color: #51A9CC;
    box-shadow: 3px 3px 6px #6f7364;
}
.details-bottom .river-image {
    grid-column: 1/4;
    grid-row: 1/4;
    width: 100%;
}
.details-bottom-text {
    grid-column: 2/3;
    grid-row: 2/3;
    border-radius: 10px;
    background-color: #51A9CC;
}
.details-bottom-text p {
    text-align: center;
    font-size: 32px;
}
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
                    
footer {
    background-color: #51A9CC;
    color: #592768;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer a {
    color: #592768;
    text-decoration: none;
}
footer a:hover {
    background-color: #592768;
    color: #51A9CC;
}
.social {
    background-color: #51A9CC;
}
footer .social img {
    padding-top: 15px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    .details-grid, .details-top, .main-fork, .desolation {
        display: block;
    }
    .details-top-text p {
        color: #592768;
    }
    .river-image {
        display: none;
    }
    .river-title {
        color: black;
    }
    .grand-canyon {
        display: block;
    }
    .details-bottom {
        display: block;
        margin: 10px;
    }
    .details-bottom .river-image {
        display: block;
    }
    footer {
        margin-top: 25px;
    }
}