* {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
}
body {
    background-color: #737373;
    padding: 0;
    width: 2002px;
    height: 1372px;
}
.top {
    width: 2002;
    height: 782px;
}

.bottom {
    height: 590px;
}
.box {
    height: 432px;
    margin-top: 74;
    margin-bottom: 83;
}
.i {
    border-width: 23px;
    border-style: solid;
    border-color: #444444;
    border-radius: 50%;
    width: 386px;
    height: 386px;
    margin: 77px;
}
